<div class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}" id="form-group-{{ form.prefix }}-{{ field.name }}">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s non-bold-legend" for="{{ field.id_for_label }}">
            {{ field.label }}{% if not field.field.required %} <span class="govuk-hint govuk-!-display-inline">(optional)</span>{% endif %}
        </legend>
        {% if field.help_text %}
            <div class="govuk-hint">
                {{ field.help_text }}
            </div>
        {% endif %}
        {% if field.errors %}
            <div>
                <a id="{{ form.prefix }}-{{ field.name }}_errors"></a>
                {% for error in field.errors %}
                    <span class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{ error }}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        {{ field }}
    </fieldset>
</div>
