{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 5 versions", "ie >= 11"]
        },
        "useBuiltIns": "usage",
        "corejs": "3.18"
      }
    ]
  ]
}
