{% extends "core/base.html" %}

{% block title %}Accessibility{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

            <div class="govuk-grid-row govuk-!-margin-bottom-4">

                <div class="govuk-grid-column-three-quarters">
                    <span class="govuk-caption-l">Guidance</span>
                    <h2 class="govuk-heading-xl">Accessibility statement for ‘Ask the export support team a question'</h2>
                    <div class="govuk-body">
                        <p>This accessibility statement applies to the '<a href="https://www.gov.uk/ask-export-support-team" class="govuk-link">Ask the export support team a question</a>' service, hosted on the https://www.get-help-selling-goods-services-abroad.service.gov.uk domain.</p>
                        <p>This service is managed by the Department for International Trade. We want as many people as possible to be able to use this service.</p>
                        <p>We've made the text as simple as possible to understand.</p>
                        <p><a rel="external" href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">How accessible this service is</h3>
                    <p class="govuk-body">
                        This service is fully compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines (WCAG) version 2.1</a> AA standard.
                    </p>
                    <p class="govuk-body">
                        This service was last tested for compliance with the WCAG version 2.1 on 6 September 2021. Testing was carried out by the <a rel="external" href="https://digitalaccessibilitycentre.org/" class="govuk-link">Digital Accessibility Centre</a>.
                    </p>
                </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">Feedback and contact information</h3>
                    <p class="govuk-body">
                        If you need information on this sevice in a different format like accessible PDF, large print, easy read, audio recording or braille, email <a href="mailto:export.support@trade.gov.uk" class="govuk-link">export.support@trade.gov.uk</a>.
                    </p>
                    <p class="govuk-body">
                        We'll consider your request and aim to get back to you within 20 days.
                    </p>
                </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">Reporting accessibility problems with this service</h3>
                    <p class="govuk-body">
                        We're always looking to improve the accessibility of this service. If you find any problems not listed on this page or think we're not meeting accessibility requirements, email <a href="mailto:export.support@trade.gov.uk" class="govuk-link">export.support@trade.gov.uk</a>.
                    </p>
                </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">Enforcement procedure</h3>
                    <p class="govuk-body">
                        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').
                    </p>
                    <p class="govuk-body">
                        If you're not happy with how we respond to your complaint, <a rel="external" href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.
                    </p>
                </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">Technical information about this service's accessibility</h3>
                    <p class="govuk-body">
                        The Department for International Trade is committed to making its service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
                    </p>
                    <h4 class="govuk-heading-s">Compliance Status</h4>
                    <p class="govuk-body">
                        This website is fully compliant with the WCAG version 2.1 AA standard.
                    </p>
                </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">Preparation of this accessibility statement</h3>
                    <p class="govuk-body">
                        This statement was prepared on 27 July 2021. It was last reviewed on 28 November 2022.
                    </p>
                </div>
            </div>

        </main>
    </div>
{% endblock %}
