{% extends "core/wizard_step.html" %}

{% block page_title %}About the business{% endblock %}

{% block fields %}
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    About the business
                </h1>
            </legend>
            <div class="govuk-form-group {% if form.company_type.errors or form.other_type_of_business.errors %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden">What is the type of business?</legend>
                    <div class="govuk-!-margin-bottom-4">
                        {% include "gds/forms/form_group.html" with field=form.company_type %}
                    </div>
                    <div class="govuk-inset-text govuk-!-margin-top-0">
                        {% include "gds/forms/form_group.html" with field=form.other_type_of_business force_hide_optional=True %}
                    </div>
                </fieldset>
            </div>
            {% include "gds/forms/form_group.html" with field=form.company_turnover %}
            {% include "gds/forms/form_group.html" with field=form.number_of_employees %}
        </fieldset>
    </div>
{% endblock %}
