{% extends "core/wizard_step.html" %}

{% block page_title %}Business details{% endblock %}

{% block fields %}
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="export-country-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Business details
                </h1>
            </legend>
            {% include "gds/forms/form_group.html" with field=form.company_type %}
            {% include "gds/forms/form_group.html" with field=form.company_name %}
            {% include "gds/forms/form_group.html" with field=form.company_post_code %}
            {% include "gds/forms/form_group.html" with field=form.company_registration_number %}
        </fieldset>
    </div>
{% endblock %}
