{% extends "core/wizard_step.html" %}

{% load render_bundle from webpack_loader %}

{% block page_title %}Business details{% endblock %}

{% block fields %}
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="export-country-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Business details
                </h1>
            </legend>
            <p class="govuk-body">
                Knowing details about your business will help us direct you to the right team for help.
            </p>
            <div class="govuk-form-group {% if form.company_type.errors or form.type_of_organisation.errors %}govuk-form-group--error{% endif %}">
                {% include "gds/forms/form_group_radio.html" with field=form.company_type %}
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-type-of-organisation">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="{{ form.type_of_organisation.id_for_label }}">
                                {{ form.type_of_organisation.label }}
                            </label>
                            {% if form.type_of_organisation.errors %}
                                <div>
                                    <a id="{{ form.prefix }}-{{ form.type_of_organisation.name }}_errors"></a>
                                    {% for error in form.type_of_organisation.errors %}
                                        <span class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                        </span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ form.type_of_organisation }}
                        </div>
                    </div>
                </fieldset>
            </div>
            <template data-form-group-id="form-group-{{ form.prefix }}-{{ form.company_name.name }}" id="companies-house-autocomplete-template">
                <div class="govuk-form-group {% if form.company_name.errors %}govuk-form-group--error{% endif %}" id="form-group-{{ form.prefix }}-{{ form.company_name.name }}">
                    <label class="govuk-label" for="companies-house-autocomplete">
                        {{ form.company_name.label }}{% if not form.company_name.field.required %} <span class="govuk-hint govuk-!-display-inline">(optional)</span>{% endif %}
                    </label>
                    <div class="govuk-hint">
                        If your business name is not shown in the search results, then enter it manually.
                    </div>
                    {% if form.company_name.errors %}
                        <div>
                            <a id="{{ form.prefix }}-{{ form.company_name.name }}_errors"></a>
                            {% for error in form.company_name.errors %}
                                <span class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <a id="{{ form.prefix }}-{{ form.company_name.name }}_errors"></a>
                    <div id="companies-house-autocomplete-container" data-default-value="{{ form.company_name.value|default:"" }}"></div>
                </div>
            </template>
            {% include "gds/forms/form_group.html" with field=form.company_name %}
            {% include "gds/forms/form_group.html" with field=form.company_registration_number %}
            {% include "gds/forms/form_group.html" with field=form.company_post_code %}
        </fieldset>
    </div>
{% endblock %}

{% block footer_additions %}
    {{ block.super }}
    {% render_bundle "business-details" "js" %}
{% endblock %}
