{% extends "core/wizard_step.html" %}

{% block fields %}
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="export-country-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    About the business
                </h1>
            </legend>
            <p class="govuk-body">
                Knowing about the size of the business will help us direct you to the most suitable adviser. Different levels of support may be available depending on the size of the business.
            </p>
            {% include "gds/forms/form_group.html" with field=form.company_turnover %}
            {% include "gds/forms/form_group.html" with field=form.number_of_employees %}
        </fieldset>
    </div>
{% endblock %}
