{% extends "core/base.html" %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            Thank you for submitting your question
                        </h1>
                          <div class="govuk-panel__body">
                            Your reference number<br><strong>{{ reference_number }}</strong>
                        </div>
                    </div>

                    <p class="govuk-body">
                        We have sent you a confirmation email.
                    </p>

                    <h2 class="govuk-heading-l">What happens next</h2>
                    <p class="govuk-body">We will aim to reply to your question within 10 working days.</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">Further information on exporting</h2>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m">Sell goods into the EU</h3>
                    <p class="govuk-body govuk-!-margin-bottom-0">Find information about exporting goods to the EU. All links open in a new tab.</p>
                </div>
                <div class="govuk-grid-column-full">
                    <div class="information-link-panel">
                        <a class="information-link-panel__link" href="{{ GOV_UK_EXPORT_GOODS_URL }}">Export goods from the UK: step by step</a>
                        <p class="information-link-panel__body">How to move goods from the UK to international destinations, including the EU.</p>
                    </div>
                    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-export-goods">
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-export-goods-heading-1">
                                        Learn about exporting and markets abroad
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-export-goods-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-export-goods-heading-1">
                                <h3 class="govuk-heading-s">Lessons on great.gov.uk</h3>
                                <p class="govuk-body">
                                    Visit <a class="govuk-link" href="https://www.great.gov.uk/" target="_blank">great.gov.uk</a> to find out more about:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>learning to export: step-by-step lessons</li>
                                    <li>helping you choose the right markets</li>
                                    <li>making an export plan</li>
                                </ul>

                                <h3 class="govuk-heading-s">Webinars</h3>
                                <p class="govuk-body">
                                    Watch our <a class="govuk-link" href="https://www.gov.uk/guidance/help-and-support-if-your-business-trades-with-the-eu" target="_blank">webinars on exporting to the EU</a> including:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>rules on importing and exporting goods</li>
                                    <li>doing business with Europe</li>
                                    <li>border requirements</li>
                                </ul>
                            </div>
                        </div>
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-export-goods-heading-2">
                                        Taxes and tariffs
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-export-goods-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-export-goods-heading-2">
                                <h3 class="govuk-heading-s">Sending goods abroad and charging VAT</h3>
                                <p class="govuk-body">
                                    Find out if <a class="govuk-link" href="https://www.gov.uk/guidance/vat-exports-dispatches-and-supplying-goods-abroad" target="_blank">VAT is due when you sell, send or transfer goods abroad</a>, including:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>from Great Britain to outside the EU</li>
                                    <li>from Northern Ireland outside the UK and EU</li>
                                </ul>

                                <h3 class="govuk-heading-s">Trade tariff tool</h3>
                                <p class="govuk-body">
                                    Use the UK global online tariff tool to look up commodity codes, duty and VAT rates.
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/trade-tariff" target="_blank">Trade Tariff: look up commodity codes, duty and VAT rates</a>
                                    </li>
                                </ul>

                                <h3 class="govuk-heading-s">Rules of origin and claiming reduced tariff rates</h3>
                                <p class="govuk-body">
                                    Learn about how the rules of origin apply to your goods and when you can use preferential tariffs:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/claiming-preferential-rates-of-duty-between-the-uk-and-eu" target="_blank">claiming preferential rates of duty between the UK and EU</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/check-duties-customs-exporting" target="_blank">check duties and customs procedures for exporting goods</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-export-goods-heading-3">
                                        Customs declarations and exporting documents
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-export-goods-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-export-goods-heading-3">
                                <h3 class="govuk-heading-s">Check if you need to declare goods you take out of the country</h3>
                                <p class="govuk-body">
                                    Whether you need to declare goods to UK customs depends where in the UK they start or end their journey.
                                </p>
                                <p class="govuk-body">
                                    Follow the <a class="govuk-link" href="https://www.gov.uk/export-customs-declaration" target="_blank">Get UK customs clearance when exporting goods: step by step</a>.
                                </p>

                                <h3 class="govuk-heading-s">Get someone to deal with customs for you</h3>
                                <p class="govuk-body">
                                    Read guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/appoint-someone-to-deal-with-customs-on-your-behalf" target="_blank">getting someone to deal with customs for you</a>.
                                </p>

                                <h3 class="govuk-heading-s">Customs declarations: Customs Handling of Import and Export Freight (CHIEF)</h3>
                                <p class="govuk-body">
                                    You can use CHIEF to make export declarations:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/apply-to-access-customs-handling-of-import-and-export-freight-c1800" target="_blank">apply to access CHIEF</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/government/collections/uk-trade-tariff-volume-3-for-chief" target="_blank">how to input data on to CHIEF</a>
                                    </li>
                                </ul>

                                <h3 class="govuk-heading-s">Using the Customs Declaration Service (moving goods to Northern Ireland)</h3>
                                <p class="govuk-body">
                                    The Customs Declaration Service is to declare goods being moved from Great Britain to Northern Ireland.
                                </p>
                                <p class="govuk-body">
                                    Learn about the <a class="govuk-link" href="https://www.gov.uk/government/collections/customs-declaration-service" target="_blank">Customs Declaration Service</a>.
                                </p>
                                <p class="govuk-body">
                                    The <a class="govuk-link" href="https://www.tradersupportservice.co.uk/tss" target="_blank">Trader Support Service</a> can help businesses moving goods to Northern Ireland.
                                </p>
                            </div>
                        </div>
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-export-goods-heading-4">
                                        Rules for specific goods
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-export-goods-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-export-goods-heading-4">
                                <p class="govuk-body">
                                    There are special rules and you may need to get licences or certificates to export the following:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/government/collections/guidance-on-importing-and-exporting-live-animals-or-animal-products?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">animals and animal products</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/export-art-antiques-and-cultural-goods-special-rules?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">art works, antiques and culturally significant goods</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/export-chemicals-licences-and-special-rules?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">chemicals</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/export-diamonds-special-rules?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">diamonds</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/export-drugs-and-medicines-special-rules?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">drugs and medicine</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/firearms-and-export-control-forms?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">firearms, ammunition and related equipment</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/controls-on-torture-goods?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">goods that could be used for torture or capital punishment</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/export-controls-dual-use-items-software-and-technology-goods-for-torture-and-radioactive-sources?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">items that can have both civil and military uses</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/export-medical-devices-special-rules?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">medical devices</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/export-controls-military-goods-software-and-technology?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">military goods, services and technology</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/applying-for-a-licence-to-import-or-export-ozone-depleting-substances?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">ozone-depleting substances and F-gases</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/government/collections/importing-and-exporting-plants-and-plant-products?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">plants and plant products</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/controls-on-radioactive-sources?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">radioactive substances</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/importing-and-exporting-waste?step-by-step-nav=b9347000-c726-4c3c-b76a-e52b6cebb3eb" target="_blank">waste</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-export-goods-heading-5">
                                        Approved exporters and authorised representatives
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-export-goods-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-export-goods-heading-5">
                                <h3 class="govuk-heading-s">Apply for approved exporter status</h3>
                                <p class="govuk-body">
                                    <a class="govuk-link" href="https://www.gov.uk/government/publications/import-and-export-application-for-approved-exporter-status-c1454" target="_blank">Apply for approved exporter status (C1454)</a>
                                </p>

                                <h3 class="govuk-heading-s">Businesses approved to export to the EU</h3>
                                <p class="govuk-body">
                                    Check that your business is approved to export to the EU and find out what your Trade Control and Expert System (TRACES) number is.
                                </p>
                                <p class="govuk-body">
                                    <a class="govuk-link" href="https://www.gov.uk/government/publications/businesses-approved-to-export-to-the-eu" target="_blank">Businesses approved to export to the EU</a>.
                                </p>

                                <h3 class="govuk-heading-s">Establish an EU representative or business</h3>
                                <p class="govuk-body">
                                    You need to appoint an authorised representative based in the EU or EEA if you sell goods without using either of the following:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>an importer</li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/placing-manufactured-goods-on-the-eu-market#appoint-an-authorised-or-responsible-person" target="_blank">Placing manufactured goods on the EU market</a>.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m">Sell services into the EU</h3>
                    <p class="govuk-body">Find information about selling services to the EU. All links open in a new tab.</p>
                </div>
                <div class="govuk-grid-column-full">
                    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-export-services">
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-export-services-heading-1">
                                        Recognising professional qualifications
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-export-services-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-export-services-heading-1">
                                <p class="govuk-body">
                                    You’ll need to have your UK professional qualification officially recognised if you want to work in a profession that is regulated in the EU. Find more information on the selling services country guides:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/guidance/providing-services-to-any-country-in-the-eu-iceland-liechtenstein-norway-or-switzerland-after-eu-exit#recognition-of-professional-qualifications" target="_blank">selling services to the EU, Switzerland, Norway, Iceland and Liechtenstein</a>
                                    </li>
                                </ul>

                                <h3 class="govuk-heading-s">Recognition of professional qualifications: technical guidance for regulatory bodies</h3>
                                <p class="govuk-body">
                                    Guidance explaining <a class="govuk-link" href="https://www.gov.uk/government/publications/recognition-of-professional-qualifications-technical-guidance-for-regulatory-bodies/recognition-of-professional-qualifications-guidance-for-regulatory-bodies" target="_blank">how the recognition of professional qualifications operates</a>.
                                </p>
                            </div>
                        </div>
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-export-services-heading-2">
                                        Digital services and intellectual property
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-export-services-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-export-services-heading-2">
                                <h3 class="govuk-heading-s">VAT rules for supplies of digital services</h3>
                                <p class="govuk-body">
                                    Find out about <a class="govuk-link" href="https://www.gov.uk/guidance/the-vat-rules-if-you-supply-digital-services-to-private-consumers" target="_blank">the VAT rules if your business sells digital services to consumers in the EU</a>.
                                </p>

                                <h3 class="govuk-heading-s">Intellectual property (IP)</h3>
                                <p class="govuk-body">
                                    Information for customers and users of IP about <a class="govuk-link" href="https://www.gov.uk/government/news/intellectual-property-after-1-january-2021" target="_blank">how the IP system and the Intellectual Property Office operates</a>.
                                </p>
                            </div>
                        </div>
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-export-services-heading-3">
                                        Ownership of companies registered abroad
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-export-services-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-export-services-heading-3">
                                <h3 class="govuk-heading-s">Set up a business abroad</h3>
                                <p class="govuk-body">
                                    Find out <a class="govuk-link" href="https://www.great.gov.uk/dashboard/" target="_blank">how to enter an export market by setting up a business abroad on great.gov.uk</a>.
                                </p>

                                <h3 class="govuk-heading-s">Register as an overseas business</h3>
                                <p class="govuk-body">
                                    You must <a class="govuk-link" href="https://www.gov.uk/register-as-an-overseas-company" target="_blank">register an overseas company with Companies House</a> if you want to set up a place of business in the UK.
                                </p>

                                <h3 class="govuk-heading-s">Overseas companies registered in the UK</h3>
                                <p class="govuk-body">
                                    This guidance gives an overview of <a class="govuk-link" href="https://www.gov.uk/government/publications/overseas-companies-in-the-uk-registration-filing-and-disclosure-obligations/overseas-companies-registered-in-the-uk" target="_blank">how to register an overseas company that has opened an establishment in the UK</a>.
                                </p>
                            </div>
                        </div>
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-export-services-heading-4">
                                        Country specific information (including guidance on travelling, risk, markets and selling services)
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-export-services-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-export-services-heading-4">
                                <h3 class="govuk-heading-s">Providing services and travelling for business: country guides</h3>
                                <p class="govuk-body">
                                    Information for UK businesses:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/government/collections/providing-services-to-eea-and-efta-countries-after-eu-exit" target="_blank">providing services and travelling for business to the EU, Switzerland, Norway, Iceland and Liechtenstein: country guides</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://www.gov.uk/government/collections/travelling-to-the-eu-switzerland-norway-iceland-or-liechtenstein-for-work" target="_blank">travelling to the EU, Switzerland, Norway, Iceland or Liechtenstein for work</a>
                                    </li>
                                </ul>

                                <h3 class="govuk-heading-s">Overseas business risk</h3>
                                <p class="govuk-body">
                                    Use the <a class="govuk-link" href="https://www.gov.uk/government/collections/overseas-business-risk" target="_blank">Overseas Business Risk</a> service to find geopolitical and economic analysis on overseas markets to new and expanding exporters.
                                </p>

                                <h3 class="govuk-heading-s">Market guides</h3>
                                <p class="govuk-body">
                                    Use our market guides to <a class="govuk-link" href="https://www.gov.uk/government/collections/exporting-country-guides" target="_blank">find export opportunities and prepare to do business in new markets</a>.
                                </p>

                                <h3 class="govuk-heading-s">Reservations (locally applied exceptions to the trade agreement)</h3>
                                <p class="govuk-body">
                                    Reservations are areas where countries have reserved the right not to follow the core commitments of the trade agreement.
                                </p>
                                <p class="govuk-body">
                                    Check <a class="govuk-link" href="https://www.gov.uk/guidance/uk-eu-trade-and-cooperation-agreement-reservations" target="_blank">which reservations are relevant to UK businesses selling services to customers in EU member states</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
