{% extends "core/wizard_step.html" %}

{% block page_title %}Tell us how we can help{% endblock %}

{% block fields %}
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Tell us how we can help
                </h1>
            </legend>
            <p class="govuk-body">
                Provide as much detail as possible below to help us better understand your enquiry. <strong class="sensitive-information-warning">Please do not share any commercially sensitive information.</strong>
            </p>
            {% include "gds/forms/form_group.html" with field=form.nature_of_enquiry %}
            {% include "gds/forms/form_group.html" with field=form.question %}
            <div class="govuk-form-group {% if form.prefer_callback_telephone_number.errors or form.prefer_callback_preferred_time.errors %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">Would you prefer a telephone call back to an email response?</legend>
                    <div class="govuk-hint">The export support team will contact you by phone within 3 working days.</div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            {{ form.prefer_callback }}
                            <label class="govuk-label govuk-checkboxes__label" for="{{ form.prefer_callback.id_for_label }}">
                                {{ form.prefer_callback.label }}
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-prefer-callback">
                            {% include "gds/forms/form_group.html" with field=form.prefer_callback_telephone_number force_hide_optional=True %}
                            {% include "gds/forms/form_group.html" with field=form.prefer_callback_preferred_time force_hide_optional=True %}
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group {% if form.how_did_you_hear_about_this_service.errors or form.other_how_did_you_hear_about_this_service.errors %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden">How did you hear about this service?</legend>
                    <div class="govuk-!-margin-bottom-4">
                        {% include "gds/forms/form_group.html" with field=form.how_did_you_hear_about_this_service %}
                    </div>
                    <div class="govuk-inset-text govuk-!-margin-top-0">
                        {% include "gds/forms/form_group.html" with field=form.other_how_did_you_hear_about_this_service force_hide_optional=True %}
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">How we use your information</h2>
            <p class="govuk-body">
                The Department for International Trade will use the information provided in this form to respond to your enquiry.
            </p>
            <p class="govuk-body">
                Read about how we protect your data in our <a class="govuk-link" href="{% url 'core:privacy' %}" target="_blank">privacy notice <span class="govuk-visually-hidden"> (opens in new tab)</span></a>.
            </p>
        </div>
    </div>
{% endblock %}

{% block actions %}
    <button class="govuk-button">
        Submit
    </button>
{% endblock %}
