{% extends "core/base.html" %}

{% block content %}
    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper">
            <div class="govuk-grid-row govuk-!-margin-top-6">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">Get help with selling your goods or services to the EU</h1>
                    <p class="govuk-body">
                        Export support team helps UK businesses to export goods and services to the EU.
                    </p>
                    <p class="govuk-body">
                        Please complete this form so that we can get you the export guidance and help you need.
                    </p>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {% include "gds/forms/non_field_errors.html" %}
                    <form method="post">
                        {% csrf_token %}

                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    Your personal details
                                </h1>
                            </legend>
                            {% include "gds/forms/form_group.html" with field=form.first_name %}
                            {% include "gds/forms/form_group.html" with field=form.last_name %}
                            {% include "gds/forms/form_group.html" with field=form.email %}
                        </fieldset>

                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    Your business details
                                </h1>
                            </legend>
                            <p class="govuk-body">
                                Your answers to the questions help us to decide the best way to support your business.
                            </p>
                            {% include "gds/forms/form_group.html" with field=form.company_type %}
                            {% include "gds/forms/form_group.html" with field=form.company_or_organisation_name %}
                            {% include "gds/forms/form_group.html" with field=form.company_registration_number %}
                        </fieldset>

                        <div class="govuk-form-group {% if form.comment.errors %}govuk-form-group--error{% endif %}">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" for="{{ form.comment.id_for_label }}">
                                    <h1 class="govuk-fieldset__heading">
                                        {{ form.comment.label }}
                                    </h1>
                                </legend>
                                <p class="govuk-body">
                                    {{ form.comment.help_text }}
                                </p>
                                {% if form.comment.errors %}
                                    {% for error in form.comment.errors %}
                                        <span class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                                {{ form.comment }}
                            </fieldset>
                        </div>

                        <div class="govuk-!-margin-top-6">
                            <button class="govuk-button">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
