{% extends "core/wizard_step.html" %}

{% block fields %}
    <div class="govuk-form-group {% if form.enquiry_subject.errors %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="enquiry-subject-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l {% if not form.enquiry_subject.errors %}govuk-!-margin-bottom-4{% endif %}">
                <h1 class="govuk-fieldset__heading">
                    {{ form.enquiry_subject.label }}
                </h1>
            </legend>
            {% for error in form.enquiry_subject.errors %}
                <span class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                </span>
            {% endfor %}
            <p class="govuk-body">
                Your answers to these questions help us to decide the best way to support your business.
            </p>
            <div id="enquiry-subject-hint" class="govuk-hint">
                Select all that apply.
            </div>
            {{ form.enquiry_subject }}
        </fieldset>
    </div>
{% endblock %}
