{% extends "core/base.html" %}

{% block content %}
    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper">
            {% include "gds/forms/non_field_errors.html" %}
            <form class="govuk-!-padding-top-6" method="post">
                {% csrf_token %}
                {{ wizard.management_form }}
                {% include "gds/forms/field_as_fieldset.html" with field=form.export_destination %}
                <div class="govuk-!-margin-top-6">
                    <button class="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </main>
    </div>
{% endblock %}
