{% extends "core/wizard_step.html" %}

{% block fields %}
    {{ enquiry_subject }}
    <div class="govuk-form-group govuk-!-margin-bottom-2">
        <fieldset class="govuk-fieldset" aria-describedby="export-country-hint" data-module="select-all" data-select-all-id="{{ form.select_all.id_for_label }}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    {{ form.countries.label }}
                </h1>
            </legend>
            {% for error in form.countries.errors %}
                <span class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                </span>
            {% endfor %}
            <p class="govuk-body">
                Telling us where you are selling to will allow us to provide country specific information.
            </p>
            <div class="information-box">
                <p>
                    <strong>We can currently take enquiries regarding export to the countries listed below.</strong>
                </p>
                <p> If your export destination is not listed, you can <a class="govuk-link" href="{{ guidance_url }}">use existing online guidance</a></p>
            </div>
            <div id="export-country-hint" class="govuk-hint">
                Select all that apply.
            </div>
            <div class="govuk-checkboxes__item select-all-checkbox">
                {{ form.select_all }}
                <label class="govuk-label govuk-checkboxes__label" for="{{ form.select_all.id_for_label }}">
                    Select all
                </label>
            </div>
            {{ form.countries }}
        </fieldset>
    </div>
    <div class="information-box govuk-!-margin-bottom-4">
        <p>
            <strong>If your export destination is not listed, you can <a class="govuk-link" href="{{ guidance_url }}">use existing online guidance</a>.</strong>
        </p>
    </div>
{% endblock %}
