{% extends "core/wizard_step.html" %}

{% block page_title %}{{ form.markets.label }}{% endblock %}

{% block current_step %}{% endblock %}

{% block errors %}
    {% include "core/export_markets_wizard_step_errors.html" %}
{% endblock %}

{% block fields %}
    <div class="govuk-form-group govuk-!-margin-bottom-2 {% if form.markets.errors %}govuk-form-group--error{% endif %}">
        <span class="govuk-caption-l">Question {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</span>
        <fieldset class="govuk-fieldset" data-module="select-all" data-select-all-id="{{ form.select_all.id_for_label }}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l {% if not form.markets.errors %}govuk-!-margin-bottom-4{% endif %}">
                <h1 class="govuk-fieldset__heading">
                    {{ form.markets.label }}
                </h1>
            </legend>
            <p class="govuk-body">
                Telling us where you are selling to will allow us to provide market specific information.
            </p>
            <div class="information-box">
                <p>
                    <strong>We can currently take enquiries regarding export to the markets listed below.</strong>
                </p>
                <p> If your export destination is not listed, you can <a class="govuk-link" href="{{ guidance_url }}">use existing online guidance</a></p>
            </div>
            <div id="export-market-hint" class="govuk-hint">
                Select all that apply.
            </div>
            {% if form.markets.errors %}
                <div>
                    <a id="{{ form.prefix }}-{{ form.markets.name }}_errors"></a>
                    {% for error in form.markets.errors %}
                        <span class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> {{ error }}
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="govuk-visually-hidden">
                List of markets included in this service - {{ form.markets|length|add:"1" }} checkboxes.
            </div>

            <div id="location-option-select" class="app-c-option-select">
                <input id="location-option-filter" name="option-select-filter" class="app-c-option-select__filter-input govuk-input govuk-!-width-three-quarters hidden-option-filter" autocomplete="off" type="text">
                <div id="market-tag-section-wrapper" class="market-tag-section-wrapper">
                    <div id="market-tag-container" class="market-tag-container"></div>
                    <div id="market-tag-long-list-container" class="market-tag-long-list-container"></div>
                    <div id="market-tag-long-list-indicator" class="market-tag-long-list-indicator">
                        <p id='market-tag-long-list-indicator-text' class='govuk-body market-tag-long-list-indicator-text'></p>
                        <p id='market-tag-long-list-indicator-button' class='govuk-link govuk-!-font-size-19 market-tag-long-list-indicator-button'>Show</p>
                    </div>
                </div>
                <div class="app-c-option-select__container">
                    <div class="app-c-option-select__container-inner">
                        <div id="location-options" class="govuk-form-group govuk-checkboxes--small">
                            {{ form.markets }}
                        </div>
                    </div>
                </div>
            </div>

            <p class="govuk-body">
                Or
            </p>
            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                {{ form.no_specific_market }}
                <label class="govuk-label govuk-checkboxes__label">
                    My query is not related to a specific market
                </label>
            </div>
        </fieldset>
    </div>
    <div class="information-box govuk-!-margin-bottom-4">
        <p>
            <strong>If your export destination is not listed, you can <a class="govuk-link" href="{{ guidance_url }}">use existing online guidance</a>.</strong>
        </p>
    </div>
{% endblock %}
