{% extends "core/wizard_step.html" %}

{% block page_title %}{{ form.export_destination.label }}{% endblock %}

{% block fields %}
    <div class="govuk-form-group {% if form.export_destination.errors %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l {% if not form.export_destination.errors %}govuk-!-margin-bottom-4{% endif %}">
                <h1 class="govuk-fieldset__heading">
                    {{ form.export_destination.label }}
                </h1>
            </legend>
            {% for error in form.export_destination.errors %}
                <span class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                </span>
            {% endfor %}
            <p class="govuk-body">
                The rules for trading with the EU and the rest of the world differ. Knowing which area you're selling to will help us to direct you to the correct guidance.
            </p>
            <div id="export-destination-hint" class="govuk-hint">
                Select one option.
            </div>
            {{ form.export_destination }}
        </fieldset>
    </div>
{% endblock %}
