{% extends "core/base.html" %}

{% block content %}
    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper">
            <div class="govuk-grid-row govuk-!-margin-top-6">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">This service is about selling goods and services abroad</h1>
                    <p class="govuk-body">
                        We will respond to import enquiries, where the enquiry directly relates to a broader enquiry about exporting goods and services.
                    </p>
                    <p class="govuk-body">
                        For instance, you can submit an import enquiry if this enquiry relates to the importing of materials which are necessary for you to export a finished product.
                    </p>
                    <p class="govuk-body">
                        If your import enquiry relates to a broader export enquiry, then <a class="govuk-link" href="#">continue within this service</a>.
                    </p>
                    <p class="govuk-body">
                        If your import enquiry doesn’t relate to a broader export enquiry, then <a class="govuk-link" href="https://www.gov.uk/import-goods-into-uk">find help with importing to the UK here</a>.
                    </p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
