{% extends "core/base.html" %}

{% block title %}Disclaimer{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-three-quarters">
                    <h1 class="govuk-heading-xl">Disclaimer</h1>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">
                        Any advice or information given is strictly confidential for use by the intended recipient, and those within their organisation. This information may not be disclosed, reproduced, or further distributed, in whole or in part, without the prior written consent of DIT.
                    </p>
                    <p class="govuk-body">
                        Whilst the information provided to your query has been obtained from sources that DIT believe to be reliable, DIT makes no representation as to its accuracy. The information provided is intended to be a guide, it does not claim to be exhaustive, and should not be relied upon as a substitute for your own research or independent advice.
                    </p>
                    <p class="govuk-body">
                        Organisations using the Export Support Service, should not take this information to be investment, legal, financial, accounting or tax advice. All information is of a general nature and does not address the objectives, financial situation or needs of any particular entity. It is recommended you seek independent advice from financial, tax and legal advisors as appropriate.
                    </p>
                    <p class="govuk-body">
                        To the fullest extent permitted by law, DIT accepts no responsibility for any loss or damage caused to any person as a result of any error, omission or misleading statement in the information provided or due to reliance on it by you, your organisation or any third party.
                    </p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
