{% extends "core/wizard_step.html" %}

{% load render_bundle from webpack_loader %}

{% block page_title %}Organisation details{% endblock %}

{% block fields %}
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Organisation details
                </h1>
            </legend>
            <p class="govuk-body">
                Knowing details about your organisation will help us direct you to the right team for help.
            </p>
            {% include "gds/forms/form_group.html" with field=form.company_name %}
            {% include "gds/forms/form_group.html" with field=form.company_registration_number %}
            {% include "gds/forms/form_group.html" with field=form.company_post_code %}
            {% include "gds/forms/form_group.html" with field=form.have_you_exported_before %}
            {% include "gds/forms/form_group.html" with field=form.do_you_have_a_product_you_want_to_export force_hide_optional=True %}
        </fieldset>
    </div>
{% endblock %}

{% block footer_additions %}
    {{ block.super }}
    {% render_bundle "have-you-exported-before" "js" %}
{% endblock %}
