{% extends "core/wizard_step.html" %}

{% block fields %}
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="export-country-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Your personal details
                </h1>
            </legend>
            <p class="govuk-body">
                Your answers to these questions help us to decide the best way to support your business.
            </p>
            {% include "gds/forms/form_group.html" with field=form.first_name %}
            {% include "gds/forms/form_group.html" with field=form.last_name %}
            {% include "gds/forms/form_group.html" with field=form.email %}
            {% include "gds/forms/form_group.html" with field=form.on_behalf_of %}
        </fieldset>
    </div>
{% endblock %}
