{% extends "core/short_wizard_step.html" %}

{% load render_bundle from webpack_loader %}

{% block page_title %}Tell us how we can help{% endblock %}

{% block fields %}

    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This form is specific to enquiries about trading with Ukraine, Russia or Belarus. If your query is about trading with any other country, <a rel="external" href="https://www.get-help-selling-goods-services-abroad.service.gov.uk/">please use our general enquiry form</a>.
        </strong>
    </div>

    <!-- Personal Details - from personal_details_wizard_step.html-->
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Your details
                </h1>
            </legend>
            {% include "gds/forms/form_group.html" with field=form.full_name %}
            {% include "gds/forms/form_group.html" with field=form.email %}
            {% include "gds/forms/form_group.html" with field=form.phone %}
        </fieldset>
    </div>

    <!-- Business Details - from business_details_wizard_step.html & business-details.js-->
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <template data-form-group-id="form-group-{{ form.prefix }}-{{ form.company_name.name }}" id="companies-house-autocomplete-template">
                <div class="govuk-form-group {% if form.company_name.errors %}govuk-form-group--error{% endif %}" id="form-group-{{ form.prefix }}-{{ form.company_name.name }}">
                    <label class="govuk-label" for="companies-house-autocomplete">
                        {{ form.company_name.label }}{% if not form.company_name.field.required %} <span class="govuk-hint govuk-!-display-inline">(optional)</span>{% endif %}
                    </label>
                    <div class="govuk-hint">
                        If your business name is not shown in the search results, then enter it manually. If you do not have a business name, then enter the name you trade under (which may be your personal name).
                    </div>
                    {% if form.company_name.errors %}
                        <div>
                            <a id="{{ form.prefix }}-{{ form.company_name.name }}_errors"></a>
                            {% for error in form.company_name.errors %}
                                <span class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <a id="{{ form.prefix }}-{{ form.company_name.name }}_errors"></a>
                    <div id="companies-house-autocomplete-container" data-default-value="{{ form.company_name.value|default:"" }}"></div>
                </div>
            </template>
            {% include "gds/forms/form_group.html" with field=form.company_name %}
            {% include "gds/forms/form_group.html" with field=form.company_post_code %}
        </fieldset>
    </div>

    <!-- Your Enquiry heading-->
    <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Your enquiry
                </h1>
            </legend>
            <p class="govuk-body">
                Which industry or business area(s) does your enquiry relate to?
            </p>
    </div>

    <!-- Sector Details - from https://github.com/alphagov/finder-frontend - option-select.js & option-select.scss-->
    <div class="govuk-form-group {% if form.sectors.errors %}govuk-form-group--error{% endif %}">
        {% if form.sectors.errors %}
          <div>
              <a id="{{ form.prefix }}-{{ form.sectors.name }}_errors"></a>
              {% for error in form.sectors.errors %}
                  <span class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> {{ error }}
                  </span>
              {% endfor %}
          </div>
        {% endif %}
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Business Sector(s)
                </span>
            </summary>
            <div class="app-c-option-select__container app-c-option-select__container-inner js-auto-height-inner">
                <div id="checkboxes-7943b2c9" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="gem-checkboxes">
                    {{ form.sectors }}
                </div>
                <div class="govuk-form-group form-additional-field">
                    <label class="govuk-label" for="{{ form.other.id_for_label }}">
                        {{ form.other.label }}
                    </label>
                    {{ form.other }}
                </div>
            </div>
        </details>
    </div>

    <!-- Enquiry Details - from enquiry_details_wizard_step.html-->
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <p class="govuk-body">
                Provide as much detail as possible below to help us better understand your enquiry. <strong class="sensitive-information-warning">Please do not share any commercially sensitive information.</strong>
            </p>
            {% include "gds/forms/form_group.html" with field=form.question %}
        </fieldset>
    </div>

{% endblock %}

{% block actions %}
    <button class="govuk-button">
        Submit
    </button>
{% endblock %}

{% block footer_additions %}
    {{ block.super }}
    {% render_bundle "business-details-russia-ukraine-form" "js" %}
{% endblock %}
