{% extends "core/wizard_step.html" %}

{% block fields %}
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sectors-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    {{ form.sectors.label }}
                </h1>
            </legend>
            {% for error in form.sectors.errors %}
                <span class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                </span>
            {% endfor %}
            <p class="govuk-body">
                Knowing this will help direct your request to the right department and may speed up our response.
            </p>
            <div id="sectors-hint" class="govuk-hint">
                Select all that apply.
            </div>
            {{ form.sectors }}
            <div class="govuk-form-group form-additional-field">
                <label class="govuk-label" for="{{ form.other.id_for_label }}">
                    {{ form.other.label }}
                </label>
                {{ form.other }}
            </div>
        </fieldset>
    </div>
{% endblock %}
