{% extends "core/base.html" %}

{% block title %}{% if form.errors %}ERROR: {% endif %}{% block page_title %}{% endblock %}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <form method="post" novalidate>
            {% block back_button %}
                {% if wizard.steps.step1 != 1 %}
                    <button class="govuk-back-link link-button" formnovalidate name="wizard_goto_step" value="{{ wizard.steps.prev }}">Back</button>
                {% endif %}
            {% endblock %}
            <main id="main-content" class="govuk-main-wrapper">
                {% block errors %}
                    {% include "gds/forms/form_errors.html" %}
                {% endblock %}
                <div>
                    {% csrf_token %}
                    {{ wizard.management_form }}
                    {% block current_step %}
                        <span class="govuk-caption-l">Question {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</span>
                    {% endblock %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            {% block fields %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="govuk-!-margin-top-6">
                        {% block actions %}
                            <button class="govuk-button">
                                Continue
                            </button>
                        {% endblock %}
                    </div>
                </div>
            </main>
        </form>
    </div>
{% endblock %}
