.select-all-checkbox {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(4);
  padding-bottom: govuk-spacing(4);
}

.other-form-option {
  border-top: 1px solid $govuk-border-colour;
  margin-top: govuk-spacing(4);
  padding-top: govuk-spacing(4);

  &__text-input {
    padding-left: 56px;
  }
}

.js-enabled {
  .other-form-option__text-input {
    display: none;

    &--visible {
      display: block;
    }

    &--not-visible {
      display: none;
    }
  }
}

.sensitive-information-warning {
  color: govuk-colour("red");
  font-weight: normal;
}
