.select-all-checkbox {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(4);
  padding-bottom: govuk-spacing(4);
  width: 90%;
}

.sensitive-information-warning {
  color: govuk-colour("red");
}

.form-addendum {
  @include govuk-font(19, bold);
  border-bottom: 1px solid $govuk-border-colour;
  border-top: 1px solid $govuk-border-colour;
  padding: govuk-spacing(4) 0;

  p {
    margin: 0;
  }
}

.form-additional-field {
  border-top: 1px solid $govuk-border-colour !important;
  padding-top: govuk-spacing(4) !important;
}
