.information-box {
  @extend .govuk-body;
  background-color: govuk-colour("light-grey");
  border: 2px solid govuk-colour("blue");
  padding: govuk-spacing(4);

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
